@use "../global" as *;
@use "sass:map";

.p-news {
    padding-block: 80px 160px;
}

.p-news__inner {

}

.p-news__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.p-news__empty {
    text-align: center;
}

.p-news__link {
    padding-block: 16px;
    display: flex;
    align-items: start;
    transition: all 0.3s;
    @include mq(sp) {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
    @include mq(pc) {
      &:hover {
        opacity: 0.7;
      }
    }
}
.p-news__date {
    margin-block-start: 6px;
    inline-size: clamp-vi(112, 134);
    font-family: var(--ff-en);
    font-weight: var(--fw-bold);
    line-height: 1;
    letter-spacing: 0.8px;
    flex-shrink: 0;
}

.p-news__title {
    letter-spacing: 0.64px;
}


.p-news__pagination {
    margin-block-start: 100px;
}

.p-news__pager {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    @include mq(sp) {
      gap: 25px;
    }
}

.p-news__pagerItem {
    >svg {
        inline-size: 6.702px;
    }
}
.p-news__pagerItem.is-current {
    >.p-news__pagerBtn {
        color: var(--main-color);
        background: var(--color-white);
    }
}

.p-news__pagerBtn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    background: var(--main-color);
    border: solid 1px var(--main-color);
    color: var(--color-white);
    font-weight: var(--fw-bold);
}

.p-news__pagerBtn--prev {

}


.p-news__pagerBtn--next {

}

