@use "../global" as *;
@use "sass:map";

.p-service {
    padding-block: 60px 80px;
    @include mq(sp) {
      padding-inline: 16px;
    }
}

.p-service__inner{
    @media (max-width: 500px) {
        padding-inline: 0px;
    }
}


.p-service__body {
    display: flex;
    flex-direction: column;
    gap: 37px;
}

.p-service__button {
    margin-block-start: 18px;
    text-align: center;
}