@use "../global" as *;
@use "sass:map";

.c-heading {
display: flex;
flex-direction: column;

}

.c-heading__en {
font-family: var(--ff-en);
font-weight: var(--fw-bold);
color: var(--main-color);
font-size: 40px;
line-height: 1;
letter-spacing: 2px;
}

.c-heading__ja {
font-size: 20px;
color: var(--accent-navy);
letter-spacing: 0.8px;
}

.c-heading--white {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    >.c-heading__en {
        color: var(--color-white);
    }
    >.c-heading__ja {
        color: var(--color-white);
    }
}

.c-heading--center {
    align-items: center;
}