@use "../global" as *;
@use "sass:map";

.c-lead {
    padding-block: 80px 60px;
    padding-inline: 16px;
    
    display: flex;
    flex-direction: column;
    gap: 28px;
    text-align: center;
    letter-spacing: 0.64px;
    word-break: keep-all;
    overflow-wrap: anywhere;
}

.c-lead--compact {
    gap: 0;
    @include mq(sp) {
      gap: 28px;
    }
}

.c-lead--space {
    gap: 28px;
}

.c-lead__image {
    inline-size: min(calc(900px), 100%);
    margin-inline: auto;
    margin-block-start: 32px;
}