@use "../global" as *;
@use "sass:map";

.c-lead {
    padding-block: 80px 60px;
    inline-size: min(calc(900px + 16px * 2), 100%);
    padding-inline: 16px;
    margin-inline: auto;

    display: flex;
    flex-direction: column;
    gap: 28px;
    text-align: center;
    letter-spacing: 0.64px;
}

.c-lead__image {
    margin-block-start: 32px;
}